
<div id="data">
  Enter the name of a product you want to find data about (energetical and nutritional value will be given per 100 g of raw weight)

<form name="dataform" action="/data" method="GET">
  <input name="product" type="text">
  <button>Get data</button>  
</form>

<div class="result"></div>
</div>

<div class="buttonhomeindatapage">
<form action="/home" method="POST">
  <button class="buttonhomehome">Home</button>
</form>
</div>
